<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>List Car</title>
</head>
<body>
<div id="title">
    <h2>Cửa Hàng Xe Hơi</h2>
</div>

<p><a th:href="@{/adminForm/create}">Thêm sản phẩm mới</a></p>
<p><a th:href="@{/adminForm/userList}">Quản lý người dùng</a></p>

<div class="notify" th:if="${success}">
    <span th:text="${success}"></span>
</div>

<form id="searchBar" action="/apples/search" method="get">
    <input type="text" name="keyword" placeholder="Nhập tên sản phẩm">
    <button type="submit">Tìm kiếm</button>
</form>

<div class="product-grid">
    <div class="product-card" th:each="row : ${cars}">
        <h3 th:text="${row.name}">Tên xe</h3>
        <div class="product-image">
            <img th:src="@{${row.img}}" alt="Car Image" />
        </div>
        <p><strong>Hãng xe:</strong> <span th:text="${row.brand}"></span></p>
        <p><strong>Số lượng:</strong> <span th:text="${row.quantity}"></span></p>
        <p style="font-size: 20px"><strong>Giá:</strong> $<span th:text="${row.price}"></span></p>

        <div class="product-actions">
            <a th:href="@{/adminForm/{id}/edit(id=${row.id})}">Sửa</a>
            <a th:href="@{/adminForm/{id}/delete(id=${row.id})}">Xoá</a>
            <a th:href="@{/adminForm/{id}/view(id=${row.id})}">Chi tiết</a>
        </div>
    </div>
</div>
</body>
</html>
