<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sửa thông tin xe</title>
</head>
<body>
<h1>Sửa thông tin xe</h1>
<p><a th:href="@{/showForm}">Quay lại</a></p>
<div id="form">
    <form th:action="@{/showForm/updateCar}" th:object="${car}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Tên</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Ảnh</label>
            <input type="text" th:field="*{img}"/>
        </div>
        <div>
            <label>Hãng xe</label>
            <input type="text" th:field="*{brand}"/>
        </div>
        <div>
            <label>Năm sản xuất</label>
            <input type="text" th:field="*{year}"/>
        </div>
        <div>
            <label>Màu</label>
            <input type="text" th:field="*{color}"/>
        </div>
        <div>
            <label>Số lượng</label>
            <input type="text" th:field="*{quantity}"/>
        </div>
        <div>
            <label>Giá</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <div>
            <label>Loại động cơ</label>
            <input type="text" th:field="*{engineType}"/>
        </div>
        <div>
            <label>Mô tả</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <input type="submit" value="Cập nhật"/>
    </form>
</div>
</body>
</html>