<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết xe</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
<div class="car-detail-container">
    <div class="product-image">
        <img th:src="@{${car.img}}" alt="Hình ảnh xe"/>
    </div>
    <div class="car-info">
        <h3 th:text="${car.name}">Tên xe</h3>
        <p><strong>Hãng xe:</strong> <span th:text="${car.brand}">Hãng xe</span></p>
        <p><strong>Số lượng:</strong> <span th:text="${car.quantity}">0</span></p>
        <p><strong>Màu:</strong> <span th:text="${car.color}">Màu</span></p>
        <p><strong>Loại động cơ:</strong> <span th:text="${car.engineType}">Động cơ</span></p>
        <p><strong>Mô tả:</strong> <span th:text="${car.description}">Mô tả</span></p>
        <p class="price"><strong>Giá:</strong> <span th:text="${car.price}">0</span> VNĐ</p>

        <a th:href="@{/cart/buy/{id}(id=${car.id})}" class="buy-button">
            <i class="fa-solid fa-bolt"></i> Mua ngay
        </a>
    </div>
</div>
</body>
</html>
