<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Giỏ hàng</title>
</head>
<body>
<h1>Giỏ hàng của bạn</h1>
<table border="1">
    <tr>
        <th>Tên xe</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Tổng</th>
    </tr>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.car.name}"></td>
        <td th:text="${item.car.price}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.totalPrice}"></td>
    </tr>
</table>
<a th:href="@{/homeClient}">Tiếp tục mua sắm</a>
</body>
</html>
